{% load static %}
<!DOCTYPE html>
<html>
	<head>
		{% comment %} I am only adding this as a title so I dont have to look at 'My Website' anymore LMAO {% endcomment %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">   
		
		<title>Shopping Assistant</title>
		<link rel="icon" href="https://em-content.zobj.net/thumbs/240/apple/354/shopping-cart_1f6d2.png">
		
		<script src="https://kit.fontawesome.com/52c8fc8373.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
	</head>
<body>
	{% block body %}
	{% comment %} page body here  {% endcomment %}
	{% endblock body %}	
</body> 
</html>

<footer>
</footer>
