.middle .buttons_container .myButton {
	background-color:#4586f7;
	border-radius:3px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.middle .buttons_container .myButton:hover {
	background-color:#297ee6;
}
.middle .buttons_container .myButton:active {
	position:relative;
	top:1px;
}
.middle .buttons_container {
    left: 150px;
    height: auto;
    position: absolute;

}
.middle .buttons_container .form{
	position: relative;

}
.middle{
    overflow: hidden;
    background-color: #ffffff;
    height: 50px;
  }