.product-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }
  
  .product-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .product-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .product-info p {
    margin-top: 0;
    font-size: 16px;
  }
  