{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Popup Login Form Design | CodingNepal</title>
      <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <div class="container">
            <div class="text">
              Create an account
            </div>
            <form action="#">
                <div class="data">
                    <label>Name</label>
                    <input type="text" required placeholder="Enter your Name">
                 </div>
               <div class="data">
                  <label>Email</label>
                  <input type="text" required placeholder="Enter your email">
               </div>
               <div class="data">
                  <label>Password</label>
                  <input type="password" required placeholder="Password">
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">Get started</button>
               </div>
             </div>
               <div class="signup-link">
                  Already have an account? <a href="../login">Log in</a>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>
