{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1>About Us</h1>

<h1>&emsp;What is this application?</h1>
<h3>&emsp;This application is ...</h3>
<br></br></br>

<h1>&emsp;Who are we?</h1>
<h2>&emsp;Nick Fanchi</h2>
<h3>&emsp;Bit of information</h3>
<h2>&emsp;Nithula Ratnayake</h2>
<h3>&emsp;Bit of information</h3>
<h2>&emsp;Zener Jiang</h2>
<h3>&emsp;Bit of information</h3>
<h2>&emsp;Jehan Hapugale</h2>
<h3>&emsp;Bit of information</h3>
<h2>&emsp;Shey Laplanche</h2>
<h3>&emsp;Bit of information</h3>
<h2>&emsp;Yuan He</h2>
<h3>&emsp;Bit of information</h3>

{% endblock %}