{% extends 'bases/base_page.html' %}

{% block content %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        Welcome, {{ user.username }}!
                    </h1>
                    <h2 class="subtitle">
                        Change Password
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-half">
                <div class="box">
                    <h1 class="title">Change Password</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Old Password</label>
                            <div class="control">
                                {{ password_form.old_password }}
                            </div>
                            {% if password_form.old_password.errors %}
                                <p class="help is-danger">{{ password_form.old_password.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label class="label">New Password</label>
                            <div class="control">
                                {{ password_form.new_password }}
                            </div>
                            {% if password_form.new_password.errors %}
                                <p class="help is-danger">{{ password_form.new_password.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label class="label">Confirm Password</label>
                            <div class="control">
                                {{ password_form.confirm_password }}
                            </div>
                            {% if password_form.confirm_password.errors %}
                                <p class="help is-danger">{{ password_form.confirm_password.errors }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link is-primary" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
