{% extends 'bases/base_page.html' %}

{% block content %}

<div class="block">
    {% if user.is_authenticated %}
        <h1 class="title">Hello, {{ user.username }}!</h1>      
    {% endif %}   
</div>
<div class="block">
    <h2 class="subtitle">Welcome to the Shopping Assistant Application [Insert application name here]</h2><br>
    <h3 class="subtitle">How does this all work? Lets get Started!</h2>
        <p>To begin, you will need to create a watchlist by going to the <a href="#" onclick="goToWatchlist();">watchlist</a> tab.</p>
</div>
<hr>


{% endblock %}

{% block javascript %}
<script>
    function goToWatchlist() {
      window.location.href = '/watchlists/';
    }
  </script>
  {% endblock javascript%}