{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Popup Login Form Design | CodingNepal</title>
      <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      
      <div class="center">
         <div class="container">
            <div class="text">
               Log in to your account
            </div>
            <form action="{% url 'login' %}" method="post" >
               {% csrf_token %}
               <div class="data">
                  <label>Name</label>
                  <input type="text" required placeholder="Name" name="username" id="username">
               </div>
               <div class="data">
                  <label>Email</label>
                  <input type="email" required placeholder="Email" name="useremail" id="useremail">
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">Sign in</button>
               </div>
             </div>
               <div class="signup-link">
                  Don't have an account? <a href="../signup">Sign up</a>
               </div>
               {% for message in messages %}
               <p class="help is-danger">{{ message }}</p>
               {% endfor %}
            </form>
         </div>
      </div>
   </body>
</html>
