{% extends 'bases/base_page.html' %}
{% load static %}

{% block content %}

<div class="columns is-centered">
    <div class="column">
        
        <div class="block">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img id="product-image" src="{{ product.image_url }}" alt="Product image">
                    </figure>
                </div>
                <div class="card-content">
                    
                    <div class="media">
                        <div class="media-right">
                            <figure class="image is-48x48">
                                <img src="{% static 'img/' %}{{ product.retailer }}.png" alt="">
                            </figure>
                        </div>
                        <div class="media-right">
                            <h1 class="title is-6">{{ product.name }}</h1>
                            <p class="subtitle is-6">${{ product.price }}</p>
                        </div>
                    </div>
                    
                    <p id="product-description">{{ product.description }}</p>
                    <progress id="loading-indicator" class="progress is-small is-primary is-hidden" max="100">30%</progress>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="column">
        
        <div class="container">
            <h1 class="title">Add to Watchlist</h1>
            
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select id="watchlist-dropdown" onChange="buttonReset()">
                            {% for watchlist in watchlists %}
                            <option value="{{ watchlist.id }}">{{ watchlist.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <button id="add-to-watchlist-button" class="button is-primary">Add</button>
                    <button id="remove-from-watchlist-button" class="button is-danger">Remove</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}

{% block javascript %}
{% comment %} for some reason moving this js to a static/ file it causes csrf_token errors {% endcomment %}
<script>
    
    // unhide the loading indicator
    $('#loading-indicator').removeClass('is-hidden');
    
    // Get product details
    $(document).ready(function() {
        $.ajax({
            url: "/get-product-details/",
            type: "POST",
            data: {
                'product_id': '{{ product.id }}',
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                $('#product-description').text(response.description);
                // $('#product-image').attr('src', response.image_url);
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            },
            complete: function() {
                // hide the loading indicator
                $('#loading-indicator').addClass('is-hidden');
            }
        });
    });

    // Add product to watchlist
    $(document).ready(function() {
        $('#add-to-watchlist-button').click(function() {
            var selectedWatchlistId = $('#watchlist-dropdown').val();
            var productId = '{{ product.id }}';
            
            $.ajax({
                url: "/watchlist/add/" + selectedWatchlistId + "/" + productId,
                method: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    
                    if (response.productAlreadyAdded) {
                        $('#add-to-watchlist-button').addClass('is-warning');
                        $('#add-to-watchlist-button').text('Already Added');
                        $('#add-to-watchlist-button').prop('disabled', true);
                        return;
                    } else {
                        $('#add-to-watchlist-button').addClass('is-success');
                        $('#add-to-watchlist-button').text('Added');
                        $('#add-to-watchlist-button').prop('disabled', true);
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

    // Remove product from watchlist
    $(document).ready(function() {
        $('#remove-from-watchlist-button').click(function(e) {
            e.preventDefault();
            var watchlist_id = $('#watchlist-dropdown').val();
            var product_id = '{{ product.id }}';
            
            $.ajax({
                url: "/watchlist/remove/" + watchlist_id + "/" + product_id,
                type: 'POST',
                data: {
                    'watchlist_id': watchlist_id,
                    'product_id': product_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {

                    if (response.status) {
                        $('#remove-from-watchlist-button').addClass('is-success');
                        $('#remove-from-watchlist-button').text('Removed');
                        $('#remove-from-watchlist-button').prop('disabled', true);
                        return;
                    }
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });

    function buttonReset(){
        $('#add-to-watchlist-button').removeClass(['is-success', 'is-warning']);
        $('#add-to-watchlist-button').text('Add');
        $('#add-to-watchlist-button').prop('disabled', false);
        $('#remove-from-watchlist-button').removeClass('is-success');
        $('#remove-from-watchlist-button').text('Remove');
        $('#remove-from-watchlist-button').prop('disabled', false);
    }
    
</script>

{% endblock javascript %}


