{% extends 'bases/base_page.html' %}
{% block content %}

<div class="block">
    <h1 class="title">{{ user.first_name }}'s Profile</h1>
</div>

<button class="button" onclick="window.location.href='/editprofile'">Edit Profile</button>

<div class="block">
    <h1 class="title">Username : {{ user.username }}</h1>
    <h1 class="title">First Name : {{ user.first_name }}</h1>
    <h1 class="title">Last Name : {{ user.last_name }}</h1>
    <h3 class="title">Bio: {{ user.profile.bio }}</h3>
    <h3 class="title">Location: {{ user.profile.location}}</h3>
    <h3 class="title">Birthday: {{ user.profile.birthdate}}</h3>
</div>

{% endblock %}