{% extends 'base.html' %}

{% block content %}

<h1>Watchlists</h1>

<div class="middle">
    <div class="buttons_container">
        <button id="open-btn">Create New</button>
        <div id="popup">
			<div class="popup-content">
				<form>
                <input type="text" id="windows-input" required placeholder="Enter Watchlist Name">
                <input type="text" id="windows-input" required placeholder="Enter Product Name">
                </form>
                <button>Add</button>
				<h4>Items added to Watchlist</h4>
                <ul>
					<li><label for="item1">Item 1</label><button>Remove</button></li>
					<li><label for="item1">Item 2</label><button>Remove</button></li>
					<li><label for="item1">Item 3</label><button>Remove</button></li>
                    <li><label for="item1">Item 4</label><button>Remove</button></li>
					<li><label for="item1">Item 5</label><button>Remove</button></li>
					<li><label for="item1">Item 6</label><button>Remove</button></li>
					<li><label for="item1">Item 7</label><button>Remove</button></li>
					<li><label for="item1">Item 8</label><button>Remove</button></li>
					<li><label for="item1">Item 9</label><button>Remove</button></li>
					<li><label for="item1">Item 10</label><button>Remove</button></li>
			
				</ul>
				<div class="popup-buttons">
					<button id="cancel-btn">Cancel</button>
					<button id="confirm-btn">Confirm Selection</button>
				</div>
			</div>
		</div>
        <button onclick="importData()">Add New</button>
        
    </div>
</div>
<div class="list">
    <body class="list-bady">

        <ul class="list-group">
            <li>Item One
                <span class="badge">2</span>
            </li>
            <li>Item Two
                <span class="badge">10</span>
            </li>
            <li>Item Three
                <span class="badge">9</span>
            </li>
            <li>Item Four
                <span class="badge">0</span>
            </li>
        </ul>
    
    </body>    
</div>


<script>

    const openBtn = document.getElementById("open-btn");
    const popup = document.getElementById("popup");
    const cancelBtn = document.getElementById("cancel-btn");
    const confirmBtn = document.getElementById("confirm-btn");

    openBtn.addEventListener("click", function() {
      popup.style.display = "block";
    });
    
    cancelBtn.addEventListener("click", function() {
      popup.style.display = "none";
    });
    
    function importData() {
        let input = document.createElement('input');
        input.type = 'file';
        input.onchange = _ => {
        
        let files =   Array.from(input.files);
        console.log(files);
    };
     input.click();
  
    }
    
  
   
    
</script>
<style>
    input[id=windows-input]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
</style>

{% endblock %}