{% extends 'base.html' %}


{% block content %}

<div class="block">
    <h1 class="title">Watchlists</h1>
</div>


<div class="block">
    <div class="columns is-centered">
        <div class="column two-thirds">
            
            <h2 class="heading">My Watchilsts</h2>
            
            {% if watchlists|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watchlist in watchlists %}
                    <tr>
                        <td>{{ watchlist.id }}</td>
                        <td>{{ watchlist.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>You have no watchlists 😪</p>
            {% endif %}
            
        </div>
        <div class="column one-third">
            
            <h2 class="heading">Create New Watchlist</h2>
            
            <div class="block">
                <form id="create-watchlist-form" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="My New Watchlist">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="block">
                <article id="form-error" class="message is-danger is-hidden">
                    <div class="message-header">
                        <p>Error</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        <p>You must be logged in to create a watchlist.</p>
                    </div>
                </article>
            </div>
            
        </div>
    </div>
</div>
</div>

{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $('#create-watchlist-form').submit(function(event) {
            event.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var formData = form.serialize();
            $.ajax({
                type: 'POST',
                url: '/create-watchlist/', // Replace with the URL of your AJAX endpoint
                data: formData,
                success: function(data) {
                    console.log('Watchlist created with ID ' + data.watchlist_id);
                    // Add code here to update the page as needed
                },
                error: function(data) {
                    // unhides the error message
                    $('#form-error').removeClass('is-hidden');
                    console.log('An error occurred while creating the watchlist.');
                }
            });
        });
    });

    // hides the error message
    $('.delete').click(function() {
        $('#form-error').addClass('is-hidden');
    });

</script>
{% endblock javascript%}