{% extends 'base.html' %}

{% block content %}

<h1>Watchlists</h1>

<div class="middle">
    <div class="buttons_container">
        <button class="myButton" id="open-btn">Create New</button>
        <div id="popup">
			<div class="popup-content">
				<form>
                <label> Name </label>
                <input type="text" id="windows-input" required placeholder="Enter Watchlist Name">
                
                <label> Item Count </label>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

                
                <label> User ID </label>
                <select>
                    <option value="1">1001</option>
                    <option value="2">2002</option>
                    <option value="3">3002</option>
                    <option value="4">4004</option>
                </select>
                </form>
        
				<h4>Items added to Watchlist</h4>
				<ul>
					<li><input type="checkbox" id="item1" name="item1"><label for="item1">Item 1</label></li>
					<li><input type="checkbox" id="item2" name="item2"><label for="item2">Item 2</label></li>
					<li><input type="checkbox" id="item3" name="item3"><label for="item3">Item 3</label></li>
					<li><input type="checkbox" id="item4" name="item4"><label for="item4">Item 4</label></li>
					<li><input type="checkbox" id="item5" name="item5"><label for="item5">Item 5</label></li>
					<li><input type="checkbox" id="item6" name="item6"><label for="item6">Item 6</label></li>
					<li><input type="checkbox" id="item7" name="item7"><label for="item7">Item 7</label></li>
					<li><input type="checkbox" id="item8" name="item8"><label for="item8">Item 8</label></li>
					<li><input type="checkbox" id="item9" name="item9"><label for="item9">Item 9</label></li>
					<li><input type="checkbox" id="item10" name="item10"><label for="item10">Item 10</label></li>
				</ul>
				<div class="popup-buttons">
					<button id="cancel-btn">Cancel</button>
					<button id="confirm-btn">Confirm Selection</button>
				</div>
			</div>
		</div>
        <button class="myButton" onclick="importData()">Add New</button>
        
    </div>
</div>
<div class="list">
    <body class="list-bady">

        <ul class="list-group">
            <li>Item One
                <span class="badge">2</span>
            </li>
            <li>Item Two
                <span class="badge">10</span>
            </li>
            <li>Item Three
                <span class="badge">9</span>
            </li>
            <li>Item Four
                <span class="badge">0</span>
            </li>
        </ul>
    
    </body>    
</div>


<script>

    const openBtn = document.getElementById("open-btn");
    const popup = document.getElementById("popup");
    const cancelBtn = document.getElementById("cancel-btn");
    const confirmBtn = document.getElementById("confirm-btn");

    openBtn.addEventListener("click", function() {
      popup.style.display = "block";
    });
    
    cancelBtn.addEventListener("click", function() {
      popup.style.display = "none";
    });
    
    function importData() {
        let input = document.createElement('input');
        input.type = 'file';
        input.onchange = _ => {
        
        let files =   Array.from(input.files);
        console.log(files);
    };
     input.click();
  
    }
    
  
   
    
</script>
<style>
    input[id=windows-input]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
</style>

{% endblock %}