{% extends 'base.html' %}

{% block content %}

<h1>Watchlistdetail</h1>

<div class="middle">
    <div class="buttons_container">
        <button id="open-btn">Select Item</button>
	    <div id="popup">
			<div class="popup-content">
				<h2>Select Items</h2>
				<ul>
					<li><input type="checkbox" id="item1" name="item1"><label for="item1">Item 1</label></li>
					<li><input type="checkbox" id="item2" name="item2"><label for="item2">Item 2</label></li>
					<li><input type="checkbox" id="item3" name="item3"><label for="item3">Item 3</label></li>
					<li><input type="checkbox" id="item4" name="item4"><label for="item4">Item 4</label></li>
					<li><input type="checkbox" id="item5" name="item5"><label for="item5">Item 5</label></li>
					<li><input type="checkbox" id="item6" name="item6"><label for="item6">Item 6</label></li>
					<li><input type="checkbox" id="item7" name="item7"><label for="item7">Item 7</label></li>
					<li><input type="checkbox" id="item8" name="item8"><label for="item8">Item 8</label></li>
					<li><input type="checkbox" id="item9" name="item9"><label for="item9">Item 9</label></li>
					<li><input type="checkbox" id="item10" name="item10"><label for="item10">Item 10</label></li>
				</ul>
				<div class="popup-buttons">
					<button id="cancel-btn">Cancel</button>
					<button id="confirm-btn">Confirm Selection</button>
				</div>
			</div>
		</div>
        <a href="#" class="myButton">Export Watchlist</a>
        <a href="#" class="myButton">Export As Shopping List</a>
    </div>
</div>
<div class="table">
    <table class="table-body">
        <tr class="title">
          <th><input type="checkbox"></th>
          <th>Title</th>
          <th>Product</th>
          <th>Vendor</th>
          <th>Title</th>
          <th></th>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
          <td>Heinz Baked Beans</td>
          <td>Coles Karawara</td>
          <td style="color: deepskyblue;">Publish</td>
          <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td><i class="fas fa-ellipsis-v"></i><i class="fas fa-ellipsis-v"></i></td>
            <td>Textline</td>
            <td>Textline</td>
            <td style="color: deepskyblue;">Publish</td>
            <td style="color: deepskyblue;">Edit</td>
        </tr>
      </table>
</div>
<script>

const openBtn = document.getElementById("open-btn");
const popup = document.getElementById("popup");
const cancelBtn = document.getElementById("cancel-btn");
const confirmBtn = document.getElementById("confirm-btn");

openBtn.addEventListener("click", function() {
  popup.style.display = "block";
});

cancelBtn.addEventListener("click", function() {
  popup.style.display = "none";
});

confirmBtn.addEventListener



</script>

{% endblock %}